h1 {
    color: rgba(6, 0, 72, 0.90);

    font-size: 70px;
    font-weight: 700;
    line-height: 0.91;

    text-transform: uppercase;
}

h2 {
    color: #060048;

    font-size: 50px;
    font-weight: 700;
    line-height: 1.28;


    text-transform: uppercase;
}

h3 {
    color: #060048;

    font-size: 28px;
    font-weight: 700;
    line-height: 1.13;
}

h4 {
    color: #060048;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
}

@media screen and (max-width: 780px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
         font-size: 18px;
    }

    p {
        font-size: 18px;
    }
}